body {
    font-family: monospace;
    color: lightgray;
    background-color: darkslategray;
}

a {
    color: skyblue;
}

article, header {
    margin: 0 auto 10px auto;
    max-width: 600px;
    min-width: 300px;
    padding: 10px;
    border: 3px solid beige;
}

nav {
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
}

nav img {
    height: 100%;
    vertical-align: middle;
}

nav a {
    color: beige;
    font-size: 1.3em;
    text-decoration: none;
    height: 100%;
}

@media screen and (min-width: 400px) {
    h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    .nav-link {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.5em;
    }
}

nav a:hover {
    color: skyblue;
}

h1,h2,h3 {
    font-family: monospace;
}

h1 {
    margin: 0;
    color: beige;
    display: inline-block;
}

h2 {
    display: inline-block;
}

#clear-me {
    clear: both;
}

#about img {
    float: right;
    width: 30%;
}
