<!-- Enables post comments backed by GitHub discussions -->
<script src="https://giscus.app/client.js" data-repo="christianfosli/christianfosli.github.io"
  data-repo-id="MDEwOlJlcG9zaXRvcnkxMzExOTI4NTY=" data-category="Post Comments" data-category-id="DIC_kwDOB9HYGM4CeYkF"
  data-mapping="pathname" data-strict="0" data-reactions-enabled="1" data-emit-metadata="1" data-input-position="bottom"
  data-theme="preferred_color_scheme" data-lang="en" data-loading="lazy" crossorigin="anonymous" async>
  </script>
